<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
    <title>Rochester Conference</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="stylesheets/styleForConfirmation.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Rochester Conference Registration</h2>
    </div>
    <div id="centeredmenu">
        <ul>
            <li class="active"><a>Menu</a>
                <ul>
                    <li><a href="register">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="message">
        <h1> You are now registered for the conference in Rochester. </h1>
    </div>
</div>
</body>
</html>