<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
    <title>Create a new Account</title>
    <link rel="stylesheet" href="stylesheets/styleForRegister.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Registration</h2>
    </div>
    <div id="centeredmenu">
        <ul>
            <li class="active"><a>Menu</a>
                <ul>
                    <li><a href="register">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="registerForm">
        <div class="createAccount"><h3><b>Create an Account</b></h3></div>
        <form id="register" method="POST" action="review" accept-charset="utf-8" onsubmit="return Validate();">
            <div>
                First Name: <input type="text" name="firstname" id ="firstname">
            </div>
            <div>
                Last Name: <input type="text" name="lastname" id ="lastname">
            </div>
            <div>
                Street Address: <input type="text" name="address" id="address">
            </div>
            <div>
                Email: <input type="text" name="email" id ="email">
            </div>
            <div>
                School/Comapny: <input type="text" name="organization" id="organization">
            </div>
            <div>
                Date: <input type="date" name="date" id="date">
            </div>
            <div class="radios">
                <h3>Status: </h3><input type="radio" name="status" value="undergraduatestudent" checked> Undergrad Student
                <input type="radio" name="status" value="gradstudent"> Grad Student
                <input type="radio" name="status" value="professor"> Professor
                <input type="radio" name="status" value="industryemployee"> Industry Employee
            </div>
            <div class="paymentMethod">
                <h3>Payment Method: </h3><input type="radio" name="payment" value="credit/debitcard" checked> Credit/Debit Card
                <input type="radio" name="payment" value="paypal"> Paypal
            </div>

            <input type="submit" name="submit" value="Register">
        </form>
        <button type="button" id="back" onclick="history.back()">Back</button>
    </div>
    <script type="text/javascript" src="javascripts/validateRegister.js"></script>
</div>
</body>
</html>